@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  background-image: url(./assets/img/bg.gif);
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.096);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 20px 60px;
}

a {
  color: #ffffff;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  text-transform: lowercase;
}

.nav-link {
  color: #ffffff;
  padding: 17px;
  letter-spacing: 1px;
}

.nav-link:hover,
.contacts-link:hover {
  background-color: rgba(255, 192, 203, 0.548);
  -webkit-box-shadow: 0 0 40px pink;
          box-shadow: 0 0 40px pink;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
